@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-roboto);
}

@layer base {
  * {
    @apply font-sans;
  }
  body {
    @apply font-sans bg-[#f4f4f5];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans py-[0.3em] my-[0.3em] leading-[1.2em];
  }
  a {
    @apply font-sans;
  }
}

@layer components {
  .container {
    @apply mx-auto h-auto px-[15px] sm:w-[684px] md:w-[750px] lg:w-[970px] xl:w-[1170px];
  }

  .header-wrapper {
    @apply w-full h-[70px] fixed z-[3] bg-blackDecor;
  }
  .header-menu {
    @apply flex justify-end items-center h-[70px] relative;
  }
  .header-menu .search-field {
    @apply absolute right-0 h-[40px] w-full bg-[#292728] top-2/4 transform -translate-y-2/4;
    transition: all 0.5s ease;
    z-index: 2;
  }
  .header-menu .search-field input {
    @apply relative w-full h-full py-0 px-[35px] text-goldDecor;
    background: 0 0;
    z-index: 1;
  }
  .header-menu .search-field button {
    @apply absolute top-1/2 transform -translate-y-1/2 w-[35px] h-full;
    z-index: 2;
  }

  .header-menu .search-field-hidden {
    @apply w-[35px];
    background: 0 0;
  }
  .header-menu .search-field-hidden input {
    @apply bg-[#383637];
    display: none;
  }

  .header-menu-option {
    @apply flex items-center h-[70px] px-[16px] py-[2px]
     text-goldDecor hover:text-[#f4f4f5]
     text-sm xl:text-base font-light
     uppercase cursor-pointer;
  }

  .header-menu-mobile {
    @apply block fixed top-[70px] left-0 bg-blackDecor p-[16px] w-full mx-auto my-0;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
    overflow: hidden;
    z-index: 2;
    height: calc(100vh - 70px);
  }
  .search-field {
    @apply block h-[40px] my-0 mx-auto;
  }
  .header-menu-mobile .search-field input {
    @apply w-full relative h-[40px] placeholder-goldDecor bg-[#383637] mb-[10px] py-0 pr-[35px] pl-[10px];
  }
  .header-menu-mobile .search-field button {
    @apply absolute w-[35px] h-[40px] right-0;
  }
  .header-menu-mobile .header-menu-option {
    @apply text-base py-[2px] px-[5px];
  }

  /* Card section */
  .list {
    @apply gap-4 columns-1 sm:col-span-2 xl:columns-3;
  }
  .list .item {
    @apply inline-block w-full mb-[10px] sm:mb-[15px];
  }
  .card {
    @apply p-[20px] bg-white border-gray-200 shadow overflow-hidden relative;
  }
  .card .card-title {
    @apply text-xl text-[#292728] font-bold my-2 py-2;
  }
  .card .card-description {
    @apply font-normal text-base text-[#595959] mb-2;
    letter-spacing: 1px;
  }
  .card .card-separator {
    @apply mt-[10px] pt-3 border-t border-solid border-[#ccc];
  }
  .card button {
    @apply block w-[140px] my-0 mx-auto py-[6px] px-[32px] 
      text-sm text-[#292728] bg-goldDecor uppercase;
    transition: all 0.5s ease;
  }
  .card button:hover {
    @apply bg-[#c5b2a5];
  }

  /* Blog view section */
  .blog {
    @apply block lg:flex lg:flex-row px-[-15px];
  }
  .blog article {
    @apply relative block 
      w-full 
      sm:w-4/5 sm:mx-auto
      lg:w-3/4;
  }
  .blog .blog-post {
    @apply py-[30px] pr-[20px] lg:w-[70%] lg:mx-auto;
  }
  .blog .blog-post h1 {
    @apply my-[0.3em] py-[0.3em] 
      text-[28px] font-medium leading-[1.2em] 
      md:text-[32px];
    color: #292728;
  }
  .blog p {
    @apply mb-[0.5em] py-[0.4em]
      text-[#595959] font-normal leading-normal 
      tracking-[1px] text-[16px];
  }
  .blog .blog-post a {
    @apply text-[#00708a] font-bold;
  }
  .blog .blog-post blockquote {
    @apply text-[#595959] font-normal leading-normal 
      tracking-[1px] text-[16px]
      py-[10px] px-[20px] mb-[20px]
      border-l-[5px] border-solid border-[#eee];
  }
  .blog aside {
    @apply relative w-full lg:w-1/4;
  }
  .blog aside .last-post {
    @apply mb-[30px];
  }
  .blog aside h5 {
    @apply font-medium text-[18.2px] text-[#00708a] pt-[6px];
  }
  .blog aside .crop-image {
    @apply relative block overflow-hidden 
      h-[100px] md:h-[150px] min-w-[100px] w-[35%] md:w-full
      float-left md:float-none mr-[20px];
  }
  .blog aside .crop-image img {
    @apply absolute top-1/2 w-full max-w-full -translate-y-1/2;
  }
}

@layer utilities {
  .separator {
    width: 1px;
    height: 20px;
    background-color: #dbc79a;
    border: none;
  }
}
